html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
#header {
  text-decoration: none;
  color: #3e4a61;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  padding: 0 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(226, 226, 226) 2px;
  border-width: 1px;
}

.article-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  gap: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.article-card {
  box-sizing: border-box;
  border: solid rgb(226, 226, 226) 2px;
  background-color: white;
  border-width: 1px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 35%;
  height: 650px;
}
.article-card h2 {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  word-break: break-word;
}

.vote-comment {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.author-timestamp {
  display: flex;
  gap: 5px;
  text-align: center;
  justify-content: center;
}

.article-list:hover h2 {
  text-decoration: underline;
}

.article-info {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0 auto;
  margin-top: 60px;
}

ul {
  list-style: none;
}

.comment {
  display: block;
  justify-content: space-between;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 50%;
  height: 70%;
  margin-bottom: 1rem;
}

#comment-box {
  gap: 20px;
  justify-content: center;
}

button {
  margin: 0;
  background: none;
  border: none;
  padding: 0;
}
button:active {
  transform: translateY(1px);
}

#vote {
  display: flex;
  gap: 8px;
  align-items: center;
}

#comment-submit {
  background-color: white;
  border: none;
  color: black;
  border: 2px solid black;
  padding: 0.3%;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#article-img-body {
  display: flex;
  gap: 20px;
  padding: 5px;
  justify-content: center;
}

#article-img-body p {
  text-align: left;
  justify-content: center;
  width: 40%;
  line-height: 1.5;
}

#article-author-date {
  text-align: left;
  display: flex;
  gap: 10px;
  padding: 5px;
  margin-left: 200px;
  font-size: 85%;
  width: 50%;
  height: 40%;
}

#article-vote-comment {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;

  margin-left: 35px;
}

.article-card img {
  display: block;
  width: 90%;
  height: 60%;
  object-fit: cover;
  align-items: center;
  margin: 0 auto;
}

#add-comment {
  height: 90px;
  width: 600px;
}

.not-found {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5;

  width: 50%;
}
